
@{
    ViewBag.Title = "Rede Social X";
}


<div class="jumbotron">
    <h1>Cadastro concluído! </h1>
    <p class="lead">Agora logue nela para acessar a Home Page.</p>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", "User")
</div>