@model Felipe_Pagliosa_PB.Models.Usuario

@{
    ViewBag.Title = "Rede Social X";
}


<div class="jumbotron">
    <h1>Projeto de Bloco .NET</h1>
    <p class="lead">Faça o cadastro ou logue-se para acessar a Home Page !</p>
</div>



